<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">

    <!-- IMPORTAÇÕES DO CSS E JS DO BOOTSTTAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	  <!-- PARA DEICHAR RESPONSIVO O SITE -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="Site da paróquia santuário de são raimundo nonato">
    <meta name="author" content="Equip IFPanos">

    <!-- ICONE DA PÁGINA -->
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>São Raimundo Nonato</title>

    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="../estatico/css/blog.css" rel="stylesheet">
  </head>
<body>
	
  <div class="container">
    <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-center align-items-center">

        <div class="col-2 d-flex justify-content align-items-center">
          <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  
              <img src="../estatico/ico/1x/baseline_dehaze_black_18dp.png">
                
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" onclick="window.location.href = 'http://pt.stackoverflow.com'">Sobre</button>
                <button class="dropdown-item" type="button">Álbum</button>
                <button class="dropdown-item" type="button">Contato</button>
              </div>
          </div>
        </div>

        <div class="col-9 text-center "><!-- text-center -->
            <a class="blog-header-logo text-dark" href="../index.html">Paróquia Santuário de São Raimundo Nonato</a>
        </div>
      </div>
        <hr>
    </header>
  </div>

      <div class="container">
      		
          <div class="row">
            <div class="col-12 justify-content-center align-items-center">
              <img src="../estatico/img/img-post.jpg" class="img-fluid" alt="imagem jesus misericordioso">
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-12 blog-main"> <!-- blog-main -->

            	 <p class="blog-title"><h3>História</h3></p>

      			 <p class="texto-post text-justify">No dia 06 de julho de 1997, ás 19:30 horas na cidade de Altos, realizou-se a instalação da paróquia santuário de são Raimundo nonato. Neste ato tomou posse o reverendíssimo Pe. Nestor José da Costa Neto sacerdote diocesano.</p>
      			 <p class="texto-post text-justify">Pe. Nestor José da costa Neto, ordenado: 12.05.1997 primeiro vigário paroquial do Santuário de São Raimundo Nonato em altos-PI. Dom Abel Alonso Nunes, Bispo diocesano do ano.</p>
				 <p class="texto-post text-justify">Na presença do Exmo. reverendíssimo dom Abel Alonso nunes e demais sacerdotes, foi lida a provisão. Reconhecida sua autenticidade pelo presbitério e autoridades presentes tomou posse dirigindo suas palavras aos presentes.</p>
      		  </div>
      	








          </div>
      </div>

    <!-- ===================== Bootstrap core JavaScript ===================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>